/* section#1 styles */
.wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: aqua;
    height: 400px;
}
.child {
    width: 250px;
    height: 350px;
}
.child:nth-child(1) {
    background-color: red;
}
.child:nth-child(2) {
    background-color: blue;
}
.child:nth-child(3) {
    background-color: green;
}
.child:nth-child(4) {
    background-color: lightblue;
}


/* header styles */
.header-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: lightslategrey;
    padding: 30px;
}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.burger-icon {
    color: #fff;
    font-size: 30px;
    display: none;
}

/* pseudo elements */
.test1::before {
  content: ' Lesson 9';
  color: #fff;
  background-color: blue;
}
/* .test1::after {
  content: ' ';
  width: 2px;
  height: 30px;
  background-color: blue;
  display: inline-block;
  margin-left:30px;
} */
/* .test1::after {
    content: '\00A9';
} */
.test1::after {
    content: url(../images/smiley.gif);
}

/* image */
.image {
    width: 700px;
    height: 600px;
    object-fit: cover;
}
.bg-image {
    background-image: url('../images/photographer.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}